aiofiles
aiohttp
asyncio
beautifulsoup4
curl-cffi
cloudscraper
ffmpeg-python
future
faker
gtts
g4f
geopy
httpx[http2]
lexica-api
langdetect
googletrans==4.0.0-rc1
mysql-connector-python
openai==0.28.0
nest_asyncio
pillow
pymongo
py7zr
pytube
pycryptodome
python-dotenv
psutil
pytz
python-whois
pyrogram
requests
rarfile
speedtest-cli
SpeechRecognition
telebot
telegram
telethon
tgcrypto
wget
