git+https://github.com/Sumit0045/pyrogram
requests
httpx
lexica-api
tgcrypto
asyncio
python-dotenv
openai
gtts
aiohttp
aiofiles
yt_dlp
youtube-search
youtube-search-python
pydub
wget
ffmpeg-python
beautifulsoup4
SafoneAPI
pillow
future
user_agent
python-whois
mysql-connector-python
telebot
pyromod
Faker
psutil
pymongo
stripe
unidecode
