git+https://github.com/KurimuzonAkuma/pyrogram
requests
motor
httpx
lexica-api
tgcrypto==1.2.5
asyncio
nest_asyncio
openai==0.28.0
gtts
g4f 
curl-cffi
aiohttp
aiofiles
yt_dlp
gpytranslate
youtube-search
youtube-search-python
pytube
PyJWT
pydub
pytz
python-dateutil
wget
ffmpeg-python
beautifulsoup4
SafoneAPI
pillow
future
user_agent
python-whois
mysql-connector-python
telebot
pyromod
Faker
psutil
pymongo
stripe
unidecode
python-dotenv==1.0.0
GitPython
telegraph
heroku3
PyGithub==2.1.1
fake_useragent
flash
